<!-- login.html.erb -->

<h1>User Login</h1>
<form action="/login" method="post">
	<div>
		Your Email: <input type="email" name="Your Email">
	</div>
	<div>
		Your Password: <input type="password" name="Your Password">
	</div>
	<div>
		<input type="submit" value="go!">
	</div>
</form>