<!-- login.html.erb -->

<h1>User Login</h1>
<form action="login" method="post">
	Your Email: <input type="email" name="Your Email">
	Your Password: <input type="password" name="Your Password">
	<input type="submit" value="go!">
</form>